.uploadFile_container {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  width: auto;
}
.uploadFile_container:hover .uploadFile_container__span {
  color: #4480f8fd;
}

.uploadFile_container__span {
  margin-left: 5px;
  color: #0055fb;
  font-size: 16px;
  line-height: 20px;
}
